<div class="page-header">
    <h1>Cryptocurrency index</h1>
</div>
<div class="panel panel-default">
    <div class="right">
        <div class="btn-group" role="group">
            <%= link_to "10", root_path(:num => "10"), :class => "btn btn-primary" %>
        </div>
        <div class="btn-group" role="group">
            <%= link_to "25", root_path(:num => "25"), :class => "btn btn-primary" %>
        </div>
        <div class="btn-group" role="group">
            <%= link_to "50", root_path(:num => "50"), :class => "btn btn-primary" %>
        </div>
        <div class="btn-group" role="group">
            <%= link_to "100", root_path(:num => "100"), :class => "btn btn-primary" %>
        </div>
    </div>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Market Cap</th>
            <th>Circulating Supply</th>
            <th>Volume (24h)</th>
            <th>% Change (24h)</th>
        </thead>
        <tbody>
            <% @json.each do |value| %>
                <tr>
                    <td><%= value['name'] %></td>
                    <td><%= value['symbol'] %></td>
                    <td><%= value['price_usd'] %></td>
                    <td>$<%= value['market_cap_usd'] %></td>
                    <td><%= value['available_supply'] %> <%= value['symbol'] %></td>
                    <td>$<%= value['24h_volume_usd'] %></td>
                    <td><%= value['percent_change_24h'] %> %</td>
                </tr>
            <% end%>
        </tbody>
    </table>
</div>
<div class="center">
    <%= will_paginate @json, renderer: BootstrapPagination::Rails %>
</div>